.dashboard {
  margin-left:9vw;
  padding: 2rem;
  width: 100%;
  animation: fadeIn 0.8s ease-in-out;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* ====== CARDS ====== */
.top-stats {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 2rem;
}

.card {
  background: #ffffff;
  border-radius: 16px;
  padding: 1.2rem;
  width: 15vw;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
  border: 2px solid #323232;
  transition: all 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.25);
}

.card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title-text {
  color: #222;
  font-weight: bold;
  font-size: 1rem;
}

.percent {
  display: flex;
  align-items: center;
  color: #16a34a;
  font-weight: bold;
  gap: 0.2rem;
}

.data {
  margin-top: 0.8rem;
}

.data p {
  font-size: 2rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  color: #1f2937;
  margin: 0.8rem 0;
}

.data-span {
  color: #1f2937;
  font-size: 2rem;
  font-weight: 700;
  display: block;
  text-align: center;
  margin: 0.5rem 0;
}

.range {
  position: relative;
  background: #e5e7eb;
  width: 100%;
  height: 0.5rem;
  border-radius: 0.25rem;
  overflow: hidden;
}

.fill {
  position: absolute;
  top: 0;
  left: 0;
  background: #ff2626;
  width: 86%;
  height: 100%;
}

/* ====== CHARTS ====== */
.charts {
  margin-left: 5vw;
  display: flex;
  gap: 8em;
  overflow: auto;
  
}

.chart-container-bar {
  background: rgba(20, 20, 20, 0.85);
  border-radius: 20px;
  border: 1px solid rgba(255, 38, 38, 0.3);
  padding: 30px;
  display: grid;
  text-align: center;
  box-shadow: 0 0 20px rgba(255, 38, 38, 0.2);
}
.chart-container-pie {
  background: rgba(20, 20, 20, 0.85);
  border-radius: 20px;
  border: 1px solid rgba(255, 38, 38, 0.3);
  display: grid;
  text-align: center;
  box-shadow: 0 0 20px rgba(255, 38, 38, 0.2);
}

.piechart-title{
  margin-top: 2rem;
  margin-bottom: 5rem;
  font-size: 22px;
  color: #ff5a5a;
  text-shadow: 0 0 8px rgba(255, 38, 38, 0.3);

}
.barsChat-title{
  font-size: 22px;
  color: #ff5a5a;
  text-shadow: 0 0 8px rgba(255, 38, 38, 0.3);

}


/* ====== RESPONSIVO ====== */
@media (max-width: 1024px) {
  .dashboard {
    margin-left: 0;
  }

  .charts {
    grid-template-columns: 1fr;
  }

  .top-stats {
    justify-content: center;
  }
}
